{% include 'products/header.html' %}

<main class="container my-5">
    <h1 class="mb-4 text-center">Giỏ hàng của bạn</h1>
    {% if cart %}
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Giá</th>
                        <th>Tổng</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    {% for laptop_id, item in cart.items %}
                        <tr>
                            <td>
                                <img src="{{ item.image }}" alt="{{ item.name }}" width="100" class="img-thumbnail">
                                {{ item.name }}
                            </td>
                            <td>
                                <form action="{% url 'update_cart' laptop_id %}" method="POST" class="form-inline">
                                    {% csrf_token %}
                                    <input type="number" name="quantity" value="{{ item.quantity }}" min="0" class="form-control w-50">
                                    <button type="submit" class="btn btn-warning btn-sm ml-2">Cập nhật</button>
                                </form>
                            </td>
                            <td>{{ item.price|floatformat:0 }} VNĐ</td>
                            <td>{{ item.total|floatformat:0 }} VNĐ</td>
                            <td>
                                <a href="{% url 'remove_from_cart' laptop_id %}" class="btn btn-danger btn-sm">Xóa</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h2 class="mt-4 text-right">Tổng cộng: <strong>{{ total_price|floatformat:0 }} VNĐ</strong></h2>
        <div class="text-right">
            {% if cart %}
                <a href="{% url 'checkout' %}" class="btn btn-success">Thanh toán</a>
            {% else %}
                <p class="text-center">Giỏ hàng trống.</p>
            {% endif %}
        </div>        
    {% else %}
        <div class="alert alert-warning text-center" role="alert">Giỏ hàng trống.</div>
    {% endif %}
</main>

{% include 'products/footer.html' %}
