{% include 'products/header.html' %}
<!-- Main content -->
<main class="container my-5">
  <h2 class="text-center mb-4">Danh sách laptop</h2>
  <div class="row">
    {% for laptop in laptops %}
    <div class="col-md-4 mb-4">
      <!-- Card for each laptop -->
      <div class="card">
        <img
          src="{{ laptop.image.url }}"
          class="card-img-top"
          alt="{{ laptop.name }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ laptop.name }}</h5>
          <p class="card-text">{{ laptop.description }}</p>
          <p class="card-text"><strong>Giá: {{ laptop.price }} VND</strong></p>
          <a href="{% url 'laptop_detail' laptop.pk %}" class="btn btn-primary"
            >Chi tiết</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</main>
{% include 'products/footer.html' %}
