{% include 'products/header.html' %}
<!-- Main content -->
<main class="container my-5">
  <div class="card mb-4">
    <img
      src="{{ laptop.image.url }}"
      class="card-img-top"
      alt="{{ laptop.name }}"
    />
    <div class="card-body">
      <h2 class="card-title">{{ laptop.name }}</h2>
      <p class="card-text">{{ laptop.description }}</p>
      <p class="card-text"><strong>Giá: {{ laptop.price }} VND</strong></p>
      <!-- Thêm các chi tiết khác nếu cần -->
      <a href="/" class="btn btn-primary">Quay lại danh sách sản phẩm</a>
    </div>
  </div>
</main>
{% include 'products/footer.html' %}